# LaTeX 编译产生的临时文件
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
test.tex
# 编译输出的 PDF 文件
# 我们通常也忽略 .pdf 文件，因为任何人都可以通过 .tex 源文件自己生成它。
# 这能确保大家看到的都是基于最新代码编译的版本。
*.pdf

# Build 文件夹 (一些复杂的项目可能会有)
/_build/
